{% trans_default_domain 'FOSUserBundle' %}
<div class="panel panel-body login-form">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div>
        <div class="text-center">
            <div class="icon-object border-success text-success"><i class="icon-user-lock"></i></div>
            <h5 class="content-group">Password Recovery</h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.current_password, {'attr': { 'class': 'form-control','placeholder':'Current Password' }}) }}
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control','placeholder':'New Password' }}) }}
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control','placeholder':'Repeat New Password' }}) }}
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>
        <div>
            <input class="btn bg-teal btn-block btn-lg" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
    {{ form_end(form) }}
</div>