{% trans_default_domain 'FOSUserBundle' %}



<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group">{{ "Login to your account"|trans({}, 'messages+intl-icu') }} <small class="display-block">{{ "Your credentials"|trans({}, 'messages+intl-icu') }}</small></h5>
        </div>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group has-feedback has-feedback-left">
                <input class="form-control" placeholder="{{ "Username"|trans({}, 'messages+intl-icu') }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input class="form-control" placeholder="{{ "Password"|trans({}, 'messages+intl-icu') }}" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>
            <div class="form-group login-options">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="styled" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </label>
                    </div>
                </div>
            </div>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn bg-blue btn-block" />
        </div>
</form>
