<tr id="{{ gouvernorat.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ gouvernorat.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ gouvernorat.libelle }}</td>

    <td id="{{ gouvernorat.id }}">
            <a href="javascript:void(0);" data-id="{{ gouvernorat.id }}" data-action="{{ path("referentiel_gouvernorat_delete", {"id": gouvernorat.id}) }}"
               class="btn-delete-gouvernorat"><i class="icon-trash"></i></a>
            <a href="#modal-edit-gouvernorat" data-toggle="modal" data-action="{{ path("referentiel_gouvernorat_edit", {"id": gouvernorat.id}) }}"
               class="btn-edit-gouvernorat"><i class="icon-pencil"></i></a>
    </td>
</tr>
