{% for gouvernorat in gouvernorats %}
    {{ include("Referentiel/Gouvernorat/item.html.twig",{"gouvernorat":gouvernorat}) }}
{% else %}
    <tr id="zero-item-gouvernorat">
        <td class="text-center" colspan="2">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ gouvernorats|length > 0 ? "true" : "false" }});
</script>
