{% set mode = form.vars.value is not null ? "edit" : "add" %}
{{ form_start(form,{attr : { action : action } } ) }}
{% if mode == "edit" %}
    <input type="hidden" id="id" value="{{ form.vars.value.id }}">
{% endif %}
<div class="row">
    {{ form_input("col-md-1","Civilité"|trans,form.civilite) }}
    {{ form_input("col-md-5","Nom&Prénom"|trans,form.nomPrenom) }}
    {{ form_input("col-md-4","N° Identité"|trans,form.numIdentite) }}
    {{ form_input("col-md-2","Date Identité"|trans,form.dateIdentite) }}
    {{ form_input("col-md-2","Date Naissance"|trans,form.dateNaissance) }}
    {{ form_input("col-md-2","Lieu Naissance"|trans,form.lieuNaissance) }}
    {{ form_input("col-md-2","Gouvernorat"|trans,form.gouvernorat) }}
    {{ form_input("col-md-6","Adresse"|trans,form.adresse) }}
    {{ form_input("col-md-2","Tél 1"|trans,form.tel1) }}
    {{ form_input("col-md-2","Tél 2"|trans,form.tel2) }}
    {{ form_input("col-md-2","Tél 3"|trans,form.tel3) }}
    {{ form_input("col-md-2","Mode Service"|trans,form.modeService) }}
    {{ form_input("col-md-2","Type Service"|trans,form.typeService) }}
    {{ form_input("col-md-2","Repos"|trans,form.repos) }}
    {{ form_input("col-md-2","Année Inscrire"|trans,form.anneeInscrire) }}
    {{ form_input("col-md-2","N° Fiche"|trans,form.numFiche) }}
    {{ form_input("col-md-2","Archive"|trans,form.archive) }}
    {{ form_input("col-md-2","Etoile"|trans,form.etoile) }}
    {{ form_input("col-md-6","Remarque"|trans,form.remarque,null,null,mode=="edit") }}
    {{ form_input("col-md-6","Carrière"|trans,form.cariere,null,null,mode=="edit") }}
    {{ form_input("col-md-6","Identité Recto"|trans,form.imgIdentiteRectoFile) }}
    {{ form_widget(form.imgIdentiteRectoRemove) }}
    {{ form_input("col-md-6","Identité Verso"|trans,form.imgIdentiteVersoFile) }}
    {{ form_widget(form.imgIdentiteVersoRemove) }}
</div>
<hr>

<div class="text-right">
    <button type="submit" class="btn btn-primary"><i
                class="fa fa-{{ (mode == "edit" ? "edit" : "save") }}  position-left"></i> {{ (mode == "edit" ? "Modifier" : "Enregistrer")|trans }}
    </button>
</div>
{{ form_end(form) }}
{% if mode == "edit" %}
    <script>
        $("#modal-edit-candidat .select-search").select2();
        $("#modal-edit-candidat .select").select2({minimumResultsForSearch: Infinity});
        $("#modal-edit-candidat .input-file").each(function () {

            let img = "";
            if ($(this).attr("name") == "candidat[imgIdentiteRectoFile]")
                img = "{{ vich_uploader_asset(form.vars.value, "imgIdentiteRectoFile") }}";

            if ($(this).attr("name") == "candidat[imgIdentiteVersoFile]")
                img = "{{ vich_uploader_asset(form.vars.value, "imgIdentiteVersoFile") }}";

            $(this).fileinput({
                browseLabel: language.parcourir,
                browseIcon: "<i class='icon-file-plus'></i>",
                uploadIcon: "<i class='icon-file-upload2'></i>",
                removeIcon: "<i class='icon-cross3'></i>",
                layoutTemplates: {
                    icon: "<i class='icon-file-check'></i>",
                    modal: modalTemplate
                },
                initialPreview: [
                    img
                ],
                initialPreviewAsData: true,
                overwriteInitial: true,
                previewZoomButtonClasses: previewZoomButtonClasses,
                previewZoomButtonIcons: previewZoomButtonIcons,
                fileActionSettings: fileActionSettings
            });
        })


    </script>
{% endif %}
