{% extends "base.html.twig" %}

{% block title %}{{ "Candidat"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/css/style-crud.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <style>
        div.icon-spinner3 {
            font-size: 100%
        }

        .m-t-25 {
            margin-top: 25px;
        }

    </style>
    <div id="message-alert"></div>
    <div id="modal-add-candidat" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Ajout d'un nouvel élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">
                    {{ include("RessourceHumaine/Candidat/form.html.twig",{action:path("ressourcehumaine_candidat_new")}) }}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-edit-candidat" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Modifier élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">

                </div>
            </div>
        </div>
    </div>
    <div id="modal-view-candidat" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Consulter élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ "Candidats"|trans }} (<span
                        id="count-item-candidat">{{ countItem }}</span> {{ "éléments"|trans }})<a
                        class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <a href="#modal-add-candidat" data-toggle="modal" class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                            class="icon-plus-circle2 position-left"></i> {{ "Nouvel  Élément"|trans }}</a>
                {% if not app.request.get("id") %}
                    <a data-toggle="collapse" data-target="#form-filtre"
                       class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                                class="icon-search4 position-left"></i> {{ "Recherche"|trans }}</a>
                {% endif %}
            </div>
        </div>

        {% if not app.request.get("id") %}
        <div class="panel panel-flat border-top-success collapse" id="form-filtre">
            <div class="panel-heading">
                <h6 class="panel-title">{{ "Formulaire de recherche"|trans }}</h6>
            </div>

            <div class="panel-body">
                {{ form_start(form_search) }}
                <div class="row">
                    {{ form_input("col-md-1","Civilité"|trans,form_search.civilite) }}
                    {{ form_input("col-md-7","Nom&Prénom"|trans,form_search.nomPrenom) }}
                    {{ form_input("col-md-4","N° Identité"|trans,form_search.numIdentite) }}
                    {{ form_input("col-md-2","Date Naissance De"|trans,form_search.dateNaissance_de) }}
                    {{ form_input("col-md-2","Date Naissance Au"|trans,form_search.dateNaissance_au) }}
                    {{ form_input("col-md-2","Lieu Naissance"|trans,form_search.lieuNaissance) }}
                    {{ form_input("col-md-2","Gouvernorat"|trans,form_search.gouvernorat) }}
                    {{ form_input("col-md-4","Adresse"|trans,form_search.adresse) }}
                    {{ form_input("col-md-2","Tél 1"|trans,form_search.tel1) }}
                    {{ form_input("col-md-2","Tél 2"|trans,form_search.tel2) }}
                    {{ form_input("col-md-2","Tél 3"|trans,form_search.tel3) }}
                    {{ form_input("col-md-2","Mode Service"|trans,form_search.modeService) }}
                    {{ form_input("col-md-2","Type Service"|trans,form_search.typeService) }}
                    {{ form_input("col-md-2","Repos"|trans,form_search.repos) }}
                    {{ form_input("col-md-2","Année Inscrire"|trans,form_search.anneeInscrire) }}
                    {{ form_input("col-md-2","N° Fiche"|trans,form_search.numFiche) }}
                    {{ form_input("col-md-2","Archive"|trans,form_search.archive) }}
                    {{ form_input("col-md-2","Etoile De"|trans,form_search.etoile_de) }}
                    {{ form_input("col-md-2","Etoile Au"|trans,form_search.etoile_au) }}
                </div>
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><i
                                class="icon-search4  position-left"></i> {{ "Recherche"|trans }} </button>
                    <button type="submit" class="btn btn-default"
                            onclick="resetForm($(this).closest('form'));"><i
                                class="icon-filter4  position-left"></i> {{ "Réinitialiser"|trans }}  </button>
                </div>
                {{ form_end(form_search) }}
            </div>
        </div>
        {% endif %}


        <div class="panel-body table-responsive">
            <div id="show-page" style="display: inline-flex;float: right;    margin-right: 10px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cross2"></i> {{ "Supprimer tous les éléments"|trans }}<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="checked"><i class="icon-checkbox-checked"></i> Cochés</a></li>
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="filter"><i class="icon-filter4"></i> Dans le filtre</a></li>
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="database"><i class="icon-database2"></i> Dans la Base</a></li>
                    </ul>
                </div>
                
                <span style="margin: 10px;">{{ "Afficher"|trans }}</span>
                <select name="limit" class="select">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="9999999999">{{ "Tous"|trans }}</option>
                </select>
                <span style="margin-right: 20px;margin-left: 10px;margin-top: 7px;">{{ "éléments"|trans }}</span>
            </div>

            <table class="table table-striped" id="table-liste-candidat" >
                <thead>
                <tr>
                    <td>
                        <div class="checkbox"><label><input type="checkbox" class="styled" onchange="$('#table-liste-candidat .chk-item').prop('checked',$(this).is(':checked')).uniform();"></label></div>
                    </td>
                    <th data-sort="nomPrenom">{{ "Nom&Prénom"|trans }}</th>
                    <th data-sort="numIdentite">{{ "N° Identité"|trans }}</th>
                    <th>{{ "Gouvernorat"|trans }}</th>
                    <th data-sort="tel1">{{ "Tél 1"|trans }}</th>
                    <th data-sort="tel2">{{ "Tél 2"|trans }}</th>
                    <th data-sort="tel3">{{ "Tél 3"|trans }}</th>
                    <th>{{ "Mode Service"|trans }}</th>
                    <th>{{ "Type Service"|trans }}</th>
                    <th>{{ "Repos"|trans }}</th>
                    <th data-sort="anneeInscrire">{{ "Année Inscrire"|trans }}</th>
                    <th data-sort="numFiche">{{ "N° Fiche"|trans }}</th>

                    <th class="action">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody id="table_div">
                {{ include("RessourceHumaine/Candidat/liste.html.twig",{"candidats":candidats}) }}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ include("Generale/knp_paginator/pagination_render.html.twig",{"items":itemsPagination}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("assets/js/plugins/uploaders/fileinput/fileinput.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/init_uploader_bootstrap.js") }}"></script>
    {{ include("Generale/jquery_crud.html.twig",{"entity":"candidat","pagination":true,"searching":true,"CKEDITOR":true}) }}
{% endblock %}
