<tr id="{{ candidat.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ candidat.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ candidat.nomPrenom }}</td>
    <td>{{ candidat.numIdentite }}</td>
    <td>{{ candidat.gouvernorat }}</td>
    <td>{{ candidat.tel1 }}</td>
    <td>{{ candidat.tel2 }}</td>
    <td>{{ candidat.tel3 }}</td>
    <td>{{ candidat.modeService }}</td>
    <td>{{ candidat.typeService }}</td>
    <td>{{ candidat.repos }}</td>
    <td>{{ candidat.anneeInscrire }}</td>
    <td>{{ candidat.numFiche }}</td>

    <td id="{{ candidat.id }}">
        <ul class="icons-list">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-menu9"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>{{ macro_bouttonModal(null,"modal-view-candidat",path("ressourcehumaine_candidat_view",{"id":candidat.id}),"icon-eye4","btn-view-candidat","Consulter") }}</li>
                    <li>{{ macro_bouttonModal(null,"modal-edit-candidat",path("ressourcehumaine_candidat_edit",{"id":candidat.id}),"icon-pencil","btn-edit-candidat","Modifier") }}</li>
                    <li>{{ macro_bouttonModal(candidat.id,null,path("ressourcehumaine_candidat_delete",{"id":candidat.id}),"icon-trash","btn-delete-candidat","Supprimer") }}</li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
