{% for candidat in candidats %}
    {{ include("RessourceHumaine/Candidat/item.html.twig",{"candidat":candidat}) }}
{% else %}
    <tr id="zero-item-candidat">
        <td class="text-center" colspan="12">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ candidats|length > 0 ? "true" : "false" }});
</script>
