<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Civilité"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.civilite }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Nom&Prénom"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.nomPrenom }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "N° Identité"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.numIdentite }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Date Identité"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.dateIdentite|date("d/m/Y") }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Date Naissance"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.dateNaissance|date("d/m/Y") }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Lieu Naissance"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.lieuNaissance }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Gouvernorat"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.gouvernorat }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Adresse"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.adresse }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Tél 1"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.tel1 }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Tél 2"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.tel2 }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Tél 3"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.tel3 }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Mode Service"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.modeService }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Type Service"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.typeService }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Repos"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.repos }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Année Inscrire"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.anneeInscrire }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "N° Fiche"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.numFiche }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Archive"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.archive }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Etoile"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.etoile }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Remarque"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.remarque|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Carrière"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ candidat.cariere|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Identité Recto"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% if fileIsImage(vich_uploader_asset(candidat, "imgIdentiteRectoFile")|slice(1)) %}
                                <img src="{{ vich_uploader_asset(candidat, "imgIdentiteRectoFile")|default("https://via.placeholder.com/100x100?text="~candidat) }}"
                                     height="100">
                            {% else %}
                                <a href="{{ vich_uploader_asset(candidat, "imgIdentiteRectoFile") }}"
                                   target="_blank">{{ vich_uploader_asset(candidat, "imgIdentiteRectoFile")|slice(1) }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Identité Verso"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <img src="{{ vich_uploader_asset(candidat, "imgIdentiteVersoFile")|default("https://via.placeholder.com/100x100?text="~candidat) }}"
                                 height="100">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

