{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {{ form_label(form.username) }}
    {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password, {'attr': {'class':'form-control'}}) }}

    <div>
        <input class="btn bg-teal btn-block btn-lg" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
