<tr id="{{ societe.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ societe.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ societe.nom }}</td>
    <td>{{ societe.tel }}</td>
    <td>{{ societe.gsm }}</td>
    <td>{{ societe.fax }}</td>
    <td>{{ societe.email }}</td>
    <td>{{ societe.gouvernorat }}</td>

    <td id="{{ societe.id }}">
        <ul class="icons-list">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-menu9"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>{{ macro_bouttonModal(null,"modal-view-societe",path("ressourcehumaine_societe_view",{"id":societe.id}),"icon-eye4","btn-view-societe","Consulter") }}</li>
                    <li>{{ macro_bouttonModal(null,"modal-edit-societe",path("ressourcehumaine_societe_edit",{"id":societe.id}),"icon-pencil","btn-edit-societe","Modifier") }}</li>
                    <li>{{ macro_bouttonModal(societe.id,null,path("ressourcehumaine_societe_delete",{"id":societe.id}),"icon-trash","btn-delete-societe","Supprimer") }}</li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
