{% for societe in societes %}
    {{ include("RessourceHumaine/Societe/item.html.twig",{"societe":societe}) }}
{% else %}
    <tr id="zero-item-societe">
        <td class="text-center" colspan="7">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ societes|length > 0 ? "true" : "false" }});
</script>
