<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Nom"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.nom }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Code"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.code }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Activité"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.activite }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Gérant"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.gerant }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Tél"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.tel }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "GSM"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.gsm }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Fax"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.fax }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Email"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Gouvernorat"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.gouvernorat }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Adresse"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.adresse }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Avis"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.avis }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "RIB"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.rib }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Matricule Fiscale"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.matriculeFiscale }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Registre Commerce"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.registreCommerce }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Remarque"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ societe.remarque|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Pièce Joint"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                                                        {% if fileIsImage(vich_uploader_asset(societe, "pieceJointFile")|slice(1)) %}
                                <img src="{{ vich_uploader_asset(societe, "pieceJointFile")|default("https://via.placeholder.com/100x100?text="~societe) }}"
                                     height="100">
                            {% else %}
                                <a href="{{ vich_uploader_asset(societe, "pieceJointFile") }}"
                                   target="_blank">{{ vich_uploader_asset(societe, "pieceJointFile")|slice(1) }}</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

