{% trans_default_domain 'FOSUserBundle' %}
<div class="panel panel-body login-form">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <div class="text-center">
            <div class="icon-object border-success text-success"><i class="icon-user-lock"></i></div>
            <h5 class="content-group">Password Recovery</h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" required="required" class="form-control"/>
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>
    </div>
    <div>
        <input class="btn bg-teal btn-block btn-lg" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
</div>