{% extends "base.html.twig" %}

{% block title %}{{ "Archive"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/css/style-crud.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <style>
        div.icon-spinner3 {
            font-size: 100%
        }

        .m-t-25 {
            margin-top: 25px;
        }

    </style>
    <div id="message-alert"></div>
    <div id="modal-add-archive" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Ajout d'un nouvel élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">
                    {{ include("Referentiel/Archive/form.html.twig",{action:path("referentiel_archive_new")}) }}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-edit-archive" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Modifier élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ "Archives"|trans }} (<span
                        id="count-item-archive">{{ countItem }}</span> {{ "éléments"|trans }})<a
                        class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <a href="#modal-add-archive" data-toggle="modal" class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                            class="icon-plus-circle2 position-left"></i> {{ "Nouvel  Élément"|trans }}</a>
                {% if not app.request.get("id") %}
                    <a data-toggle="collapse" data-target="#form-filtre"
                       class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                                class="icon-search4 position-left"></i> {{ "Recherche"|trans }}</a>
                {% endif %}
            </div>
        </div>

        {% if not app.request.get("id") %}
        <div class="panel panel-flat border-top-success collapse" id="form-filtre">
            <div class="panel-heading">
                <h6 class="panel-title">{{ "Formulaire de recherche"|trans }}</h6>
            </div>

            <div class="panel-body">
                {{ form_start(form_search) }}
                <div class="row">
                    {{ form_input("col-md-4","Désignation"|trans,form_search.libelle) }}
                </div>
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><i
                                class="icon-search4  position-left"></i> {{ "Recherche"|trans }} </button>
                    <button type="submit" class="btn btn-default"
                            onclick="resetForm($(this).closest('form'));"><i
                                class="icon-filter4  position-left"></i> {{ "Réinitialiser"|trans }}  </button>
                </div>
                {{ form_end(form_search) }}
            </div>
        </div>
        {% endif %}


        <div class="panel-body table-responsive">
            <div id="show-page" style="display: inline-flex;float: right;    margin-right: 10px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cross2"></i> {{ "Supprimer tous les éléments"|trans }}<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="checked"><i class="icon-checkbox-checked"></i> Cochés</a></li>
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="filter"><i class="icon-filter4"></i> Dans le filtre</a></li>
                        <li><a href="javascript:void(0);" class="btn-multi-delete" data-items="database"><i class="icon-database2"></i> Dans la Base</a></li>
                    </ul>
                </div>
                
                <span style="margin: 10px;">{{ "Afficher"|trans }}</span>
                <select name="limit" class="select">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="9999999999">{{ "Tous"|trans }}</option>
                </select>
                <span style="margin-right: 20px;margin-left: 10px;margin-top: 7px;">{{ "éléments"|trans }}</span>
            </div>

            <table class="table table-striped" id="table-liste-archive" >
                <thead>
                <tr>
                    <td>
                        <div class="checkbox"><label><input type="checkbox" class="styled" onchange="$('#table-liste-archive .chk-item').prop('checked',$(this).is(':checked')).uniform();"></label></div>
                    </td>
                    <th data-sort="libelle">{{ "Désignation"|trans }}</th>

                    <th class="action">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody id="table_div">
                {{ include("Referentiel/Archive/liste.html.twig",{"archives":archives}) }}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ include("Generale/knp_paginator/pagination_render.html.twig",{"items":itemsPagination}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include("Generale/jquery_crud.html.twig",{"entity":"archive","pagination":true,"searching":true}) }}
{% endblock %}
