<tr id="{{ archive.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ archive.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ archive.libelle }}</td>

    <td id="{{ archive.id }}">
            <a href="javascript:void(0);" data-id="{{ archive.id }}" data-action="{{ path("referentiel_archive_delete", {"id": archive.id}) }}"
               class="btn-delete-archive"><i class="icon-trash"></i></a>
            <a href="#modal-edit-archive" data-toggle="modal" data-action="{{ path("referentiel_archive_edit", {"id": archive.id}) }}"
               class="btn-edit-archive"><i class="icon-pencil"></i></a>
    </td>
</tr>
