{% for archive in archives %}
    {{ include("Referentiel/Archive/item.html.twig",{"archive":archive}) }}
{% else %}
    <tr id="zero-item-archive">
        <td class="text-center" colspan="2">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ archives|length > 0 ? "true" : "false" }});
</script>
