<tr id="{{ typeservice.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ typeservice.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ typeservice.libelle }}</td>

    <td id="{{ typeservice.id }}">
            <a href="javascript:void(0);" data-id="{{ typeservice.id }}" data-action="{{ path("referentiel_typeservice_delete", {"id": typeservice.id}) }}"
               class="btn-delete-typeservice"><i class="icon-trash"></i></a>
            <a href="#modal-edit-typeservice" data-toggle="modal" data-action="{{ path("referentiel_typeservice_edit", {"id": typeservice.id}) }}"
               class="btn-edit-typeservice"><i class="icon-pencil"></i></a>
    </td>
</tr>
