{% for typeservice in typeservices %}
    {{ include("Referentiel/TypeService/item.html.twig",{"typeservice":typeservice}) }}
{% else %}
    <tr id="zero-item-typeservice">
        <td class="text-center" colspan="2">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ typeservices|length > 0 ? "true" : "false" }});
</script>
