{% trans_default_domain 'FOSUserBundle' %}
<div class="panel panel-body login-form">
    <div class="text-center">
        <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
        <h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="content-divider text-muted form-group"><span>Your credentials</span></div>

        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.nomPrenom,{'attr': {'class': 'form-control','placeholder': "Nom Prénom"}}) }}
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
            <span class="help-block text-danger"> {{ form_errors(form.nomPrenom) }}</span>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.username,{'attr': {'class': 'form-control','placeholder': "Username"}}) }}
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
            <span class="help-block text-danger"> {{ form_errors(form.username) }}</span>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder': "Email"}}) }}
            <div class="form-control-feedback">
                <i class="icon-mention text-muted"></i>
            </div>
            <span class="help-block text-danger"> {{ form_errors(form.email) }}</span>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control','placeholder': "Password"}}) }}
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
            <span class="help-block text-danger"> {{ form_errors(form.plainPassword.first) }}</span>
        </div>
        <div class="form-group has-feedback has-feedback-left">
        {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control','placeholder': "Confirm password"}}) }}
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
            <span class="help-block text-danger"> {{ form_errors(form.plainPassword.second) }}</span>
        </div>
        <div>
            <input type="submit" class="btn bg-teal btn-block btn-lg" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>