<tr id="{{ modeservice.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ modeservice.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ modeservice.libelle }}</td>

    <td id="{{ modeservice.id }}">
            <a href="javascript:void(0);" data-id="{{ modeservice.id }}" data-action="{{ path("referentiel_modeservice_delete", {"id": modeservice.id}) }}"
               class="btn-delete-modeservice"><i class="icon-trash"></i></a>
            <a href="#modal-edit-modeservice" data-toggle="modal" data-action="{{ path("referentiel_modeservice_edit", {"id": modeservice.id}) }}"
               class="btn-edit-modeservice"><i class="icon-pencil"></i></a>
    </td>
</tr>
