{% for modeservice in modeservices %}
    {{ include("Referentiel/ModeService/item.html.twig",{"modeservice":modeservice}) }}
{% else %}
    <tr id="zero-item-modeservice">
        <td class="text-center" colspan="2">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ modeservices|length > 0 ? "true" : "false" }});
</script>
