<tr id="{{ repos.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ repos.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ repos.libelle }}</td>

    <td id="{{ repos.id }}">
            <a href="javascript:void(0);" data-id="{{ repos.id }}" data-action="{{ path("referentiel_repos_delete", {"id": repos.id}) }}"
               class="btn-delete-repos"><i class="icon-trash"></i></a>
            <a href="#modal-edit-repos" data-toggle="modal" data-action="{{ path("referentiel_repos_edit", {"id": repos.id}) }}"
               class="btn-edit-repos"><i class="icon-pencil"></i></a>
    </td>
</tr>
