{% for repos in reposs %}
    {{ include("Referentiel/Repos/item.html.twig",{"repos":repos}) }}
{% else %}
    <tr id="zero-item-repos">
        <td class="text-center" colspan="2">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ reposs|length > 0 ? "true" : "false" }});
</script>
