.page-content table{
    font-size: 20px;
    width: 100%;
}
.page-content table.border {
    border-collapse: collapse;
    border: 1px solid black;
}
.page-content table.border td{
    padding-right: 25px !important;
    padding-left: 25px !important;
}
.page-content th,td{
    text-align: right;
}
.page-content .table-details th{
    width: 105px;
}
.page-content #tbl-signature td{
    text-align: center !important;
}
.page-content h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
/*body {
    background: url({{ asset('assets/images/backgrounds/background-printer.png') }});
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}*/