.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.text-secondary{
    color: #999999;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.panel-heading .heading-elements {
    display: inline-flex;
}

.panel-heading .heading-elements a {
    margin-left: 3px;
}

.symbol.required:before {
    content: '*';
    color: red;
}

.form-check-label {
    padding-left: 0 !important;
}

.file-input .file-preview {
    width: fit-content;
}

.file-input .file-preview-frame {
    margin-right: 7px;
}

.icon-trash {
    color: red;
}

th[data-sort] {
    padding-right: 18px;
    position: relative;
    cursor: pointer;
}

th[data-sort]:before,
th[data-sort]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

th[data-sort]:before {
    border-bottom-color: #CCCCCC;
    margin-top: -9px;
}

th[data-sort]:after {
    border-top-color: #CCCCCC;
    margin-top: 1px;
}

th[data-sort].up:before {
    border-bottom-color: #666;
}

th[data-sort].down:after {
    border-top-color: #666;
}

.pagination {
    float: right;
    margin-top: 5px;
}

th.action {
    width: 85px;
}