<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ "Index"|trans }}{% endblock %}</title>
    <!-- Global stylesheets -->

    {% block stylesheets %}
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('assets/css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-confirm.min.css') }}">
        <link href="{{ asset('assets/css/custom_css.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/toastr.min.css') }}" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/selects/select2.min.js') }}"></script>
        <style>
            body {
                /*font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif*/
                font: 13px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
            }

            .red {
                color: red !important;
            }

            .isDisabled {
                color: currentColor;
                cursor: not-allowed;
                opacity: 0.5;
                text-decoration: none;
            }

            .symbol.required:before {
                content: '*';
                color: red;
            }

            a i.icon-trash {
                color: red;
            }

            div.icon-spinner3 {
                font-size: 100px;
            }

            /****************************************/
            #mask {
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                visibility: hidden;
                z-index: -2;
                background: #000;
                background: rgba(0, 0, 0, 0.8);
                overflow: hidden;
                opacity: 0;
                transition: all .5s ease-in-out;
            }

            #mask.showing {
                opacity: 1;
                z-index: 9000;
                visibility: visible;
                overflow: auto;
                transition: all .5s ease-in-out;
            }

            #boxes {
                display: table;
                width: 100%;
                height: 100%;
            }

            .window {
                max-width: 780px;
                z-index: 9999;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                margin: auto;
                background-color: #ffffff;
                font-family: 'Segoe UI Light', sans-serif;
                font-size: 15pt;
            }

            .window img {
                width: 100%;
                height: auto;
            }

            .inner {
                display: table-cell;
                vertical-align: middle;
            }

            #popupfoot {
                font-size: 16pt;
            }

            .showImage {
                margin: 0 0 3em;
                display: table;
                text-align: center
            }

            .showImage img {
                display: block
            }
        </style>
        <!-- /global stylesheets -->
    {% endblock %}
    <!-- /global stylesheets -->

    <!-- /theme JS files -->

</head>

<body>

<div id="mask">
    <div id="boxes">
        <div class="inner">
            <div id="dialog" class="window"> <a href="#" class="close">CLOSE</a>
                <div id="popupfoot"> <img src="#" class="image" alt="Loading..."></img> </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-import-file" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Rapprochement des champs</h5>
            </div>
            <form action="{{ path('import_data') }}" method="post">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                        Fermer
                    </button>
                    <button type="submit" class="btn btn-blue">
                        Importer
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" id="form-import-file" hidden
      action="{{ path('get_fields_file_xsl') }}">
    <input type="hidden" name="entity-name" id="entity-name" value="">
    <input type="file" name="file-xsl" id="file-xsl" accept=".xlsx, .xls, .csv"
           onchange="$('#form-import-file').submit();">
</form>
<!-- Main navbar -->
{% include "navbar.html.twig" %}
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        {% include "menu.html.twig" %}
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span
                                    class="text-semibold">{{ "Home"|trans }}</span> -
                            {{ "Dashboard"|trans }}</h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="index.html"><i class="icon-home2 position-left"></i> {{ "Home"|trans }}</a></li>
                        <li class="active">{{ "Dashboard"|trans }}</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">
                <div id="message-alert"></div>
                {% block body %}{% endblock %}
                <!-- Footer -->
                {% include "footer.html.twig" %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
<!-- Core JS files -->
{% block javascripts %}
    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset("assets/js/pages/datatables_extension_buttons_html5.js") }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/switch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery_ui/interactions.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/notifications/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/media/fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/datatables_sorting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/jquery.number.js") }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/loadingoverlay.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/toastr.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset("assets/js/bootstrap-table.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("assets/js/bootstrap-table-fr-FR.min.js") }}"></script>

    <script src="{{ asset('assets/js/jquery-confirm.min.js') }}"></script>

    <!-- /theme JS files -->
    <script>
        $('#modal-import-file form').submit(function (e) {
            let sel = [];
            let submit = true;
            $('#modal-import-file select').each(function () {
                if ($(this).val() != "") {
                    if (jQuery.inArray($(this).val(), sel) !== -1)
                        submit = false;
                    sel.push($(this).val());
                }
            });

            if (!submit) {
                viewAlert('Veuillez vérifier le rapprochement', 'warning', 3000);
                return false;
            }
        });

        $('#form-import-file').submit(function (e) {
            e.preventDefault();

            $('#modal-import-file .modal-body').LoadingOverlay("show", {
                image: "",
                fontawesome: "icon-spinner3 spinner"
            }).html('');
            $('#modal-import-file').modal('show');
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                dataType: 'html',
                complete: function () {
                    $('#modal-import-file .modal-body').LoadingOverlay("hide", true);
                },
                success: function (content) {
                    $('#modal-import-file .modal-body').html(content);
                    $('#modal-import-file select').select2({minimumResultsForSearch: Infinity});
                    $('#file-xsl').val('');
                },
                error: function (jqXHR) {
                    my_alert(jqXHR.responseText, 'danger');
                }
            });

        });
        //============================== Traduction ===============================================
        let language = {
            "zeroItem": '{{ "Aucun enregistrement trouvé"|trans }}',
            "parcourir": '{{ "Parcourir"|trans }}',
            "confirmSupp": {
                "title": '{{ "Confirmation suppression"|trans }}',
                "msg": '{{ "Êtes-vous sûr de vouloir supprimer cette ligne?"|trans }}',
                "msg_multi_delete": '{{ "Êtes-vous sûr de vouloir supprimer ces éléments?"|trans }}',
                "btn": '{{ "Supprimer"|trans }}'
            }
        };
        //============================== Date Debut Fin ===============================================
        $('input[type="date"]').each(function () {

            if (($(this).attr('id') !== undefined && $(this).attr('id').toLowerCase().indexOf('debut') != -1) ||
                ($(this).attr('name') !== undefined && $(this).attr('name').toLowerCase().indexOf('debut') != -1) ||
                ($(this).attr('class') !== undefined && $(this).attr('class').toLowerCase().indexOf('debut') != -1)) {
                $(this).addClass('startDate').addClass('startDate' + $('.startDate').length).attr('data-enddate', 'endDate' + $('.startDate').length);
            }
            if (($(this).attr('id') !== undefined && $(this).attr('id').toLowerCase().indexOf('fin') != -1) ||
                ($(this).attr('name') !== undefined && $(this).attr('name').toLowerCase().indexOf('fin') != -1) ||
                ($(this).attr('class') !== undefined && $(this).attr('class').toLowerCase().indexOf('fin') != -1)) {
                $(this).addClass('endDate').addClass('endDate' + $('.endDate').length).attr('data-startdate', 'startDate' + $('.endDate').length);
            }
        });

        $('.startDate').change(function () {
            $('.' + $(this).data('enddate')).attr('min', $(this).val());
        });
        //============================== toastr ===============================================
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "rtl": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 10000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        //================
        function showImage(fullPath) {
            var id = '#dialog';

            $('.image').attr({
                'src': fullPath
            });

            //if close button is clicked
            $('.window .close').click(function(e) {
                //Cancel the link behavior
                e.preventDefault();

                $('#mask').removeClass('showing');
            });

        };

        $(document).on("click","img", function() {
            showImage($(this).attr('src'));
            $('#mask').addClass('showing');

        });
        //============================== Alert & Confirm ===============================================
        var bloquerAlert = false;

        function viewAlert(msg, tag, autoClose, fntAction) {
            if (bloquerAlert)
                return;

            var color = 'dark';
            var icon = '';
            var title = '';
            var animation = 'zoom';
            var closeAnimation = 'scale';

            if (tag == 'success') {
                color = 'green';
                icon = 'icon-checkmark4';
                title = '{{ "Succès"|trans }}';
                animation = 'scale';
                closeAnimation = 'scale';
            } else if (tag == 'danger') {
                color = 'red';
                icon = 'icon-blocked';
                title = '{{ "Alert"|trans }}';
                animation = 'rotateY';
                closeAnimation = 'rotateY';
            } else if (tag == 'warning') {
                color = 'orange';
                icon = 'icon-warning';
                title = '{{ "Attention"|trans }}';
                animation = 'rotateYR';
                closeAnimation = 'rotateYR';
            } else if (tag == 'info') {
                color = 'blue';
                icon = 'icon-info3';
                title = '{{ "Info"|trans }}';
                animation = 'rotateX';
                closeAnimation = 'rotateX';
            } else if (tag == 'primary') {
                color = 'purple';
            }
            var options = {
                icon: icon,
                closeIcon: true,
                type: color,
                title: title,
                content: msg,
                animationBounce: 2.5,
                closeAnimation: closeAnimation,
                animation: animation,
                buttons: {
                    btnOk: {
                        text: 'OK',
                        btnClass: 'btn-default',
                        keys: ['enter', 'echap'],
                    }
                }
            };
            if (autoClose !== undefined && autoClose != null)
                options.autoClose = 'btnOk|' + autoClose;

            if (fntAction !== undefined)
                options.buttons.btnOk.action = fntAction;

            $.alert(options);
        }

        function demandConfirm(title, content, txtConfirm, fntAction) {
            $.confirm({
                title: title,
                content: content,
                icon: 'icon-question3',
                closeIcon: true,
                type: 'blue',
                buttons: {
                    confirm: {
                        text: txtConfirm,
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: fntAction
                    },
                    cancel: {
                        text: 'Non',
                        btnClass: 'btn-default',
                        keys: ['echap'],
                    },
                }
            });
        }

        //========================================================================================================


        $('input.money').number(true, 3, ".", "").attr('maxlength', 11);
        $('input.percent').number(true, 2, ".", "").attr('maxlength', 6);

        $(".styled, .multiselect-container input").uniform({
            radioClass: 'choice'
        });

        if (Array.prototype.forEach) {
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function (html) {
                var switchery = new Switchery(html);
            });
        } else {
            var elems = document.querySelectorAll('.switchery');
            for (var i = 0; i < elems.length; i++) {
                var switchery = new Switchery(elems[i]);
            }
        }

        //====================================== Format Money ============================================================================
        Number.prototype.formatMoney = function (decimals = 3, decimal_separator = ".", thousands_separator = ",") {
            var n = this,
                decimals = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals,
                decimal_separator = decimal_separator == undefined ? "." : decimal_separator,
                thousands_separator = thousands_separator == undefined ? "," : thousands_separator,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(decimals))),
                j = (j = i.length) > 3 ? j % 3 : 0;
            return s + (j ? i.substr(0, j) + thousands_separator : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands_separator) + (decimals ? decimal_separator + Math.abs(n - i).toFixed(decimals).slice(2) : "");
        };

        //======================================Integre l' optgroup de Select2 dans la recherche ============================================================================
        function matchStart(term, text, option) {
            if (text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || ($(option.element).closest('optgroup').prop('label') !== undefined && $(option.element).closest('optgroup').prop('label').toUpperCase().indexOf(term.toUpperCase()) >= 0)) {
                return true;
            }
            return false;
        }

        $.fn.select2.amd.require(['select2/compat/matcher'], function (oldMatcher) {
            $(".select-search-groupby").select2({
                matcher: oldMatcher(matchStart)
            })
        });

        //========================================= Génére message alert =========================================================================
        function my_alert(msg, status, divalert, scrollTop) {
            div_alert = $(divalert);

            html_alert = '<div class="alert alert-' + status + '">' +
                '<button data-dismiss="alert" class="close">&times;</button>' +
                '<strong>';


            switch (status) {
                case 'success':
                    html_alert += '<i class="fa fa-check-circle"></i>' +
                        ' <strong>Succès!</strong>';
                    break;
                case 'danger':
                    html_alert += '<i class="fa fa-times-circle"></i>' +
                        ' <strong>Erreur!</strong>';
                    break;
                case 'warning':
                    html_alert += '<i class="fa fa-exclamation-triangle"></i>' +
                        ' <strong>Avertissement!</strong>';
                    break;
                case 'info':
                    html_alert += '<i class="fa fa-info-circle"></i>' +
                        ' <strong>Information!</strong>';
                    break;
                default:
                    html_alert += '<i class="fa fa-check-circle"></i>' +
                        ' <strong>Succès!</strong>';
            }

            html_alert += '</strong> ' + msg + '</div>';

            div_alert.append(html_alert);

            if (scrollTop !== undefined && scrollTop == true)
                $('html, body').animate({scrollTop: $(divalert).offset().top}, 700, 'swing');
        }

        //==================================================================================================================
        //==================================================================================================================
        //.................BEGIN...............dropdown-menu-on-table-responsive............................................
        //==================================================================================================================
        $(document).click(function (event) {
            $('.dropdown-menu[data-parent]').hide();

        });
        $(document).on('click', '.table-responsive [data-toggle="dropdown"]', function () {
            if ($('body').hasClass('modal-open')) {
                throw new Error("This solution is not working inside a responsive table inside a modal, you need to find out a way to calculate the modal Z-index and add it to the element")
                return true;
            }

            $buttonGroup = $(this).parent();
            if (!$buttonGroup.attr('data-attachedUl')) {
                var ts = +new Date;
                $ul = $(this).siblings('ul');
                $ul.attr('data-parent', ts);
                $buttonGroup.attr('data-attachedUl', ts);
                $(window).resize(function () {
                    $ul.css('display', 'none').data('top');
                });
            } else {
                $ul = $('[data-parent=' + $buttonGroup.attr('data-attachedUl') + ']');
            }
            if (!$buttonGroup.hasClass('open')) {
                $ul.css('display', 'none');
                return;
            }
            dropDownFixPosition($(this).parent(), $ul);

            function dropDownFixPosition(button, dropdown) {
                var dropDownTop = button.offset().top + button.outerHeight();
                dropdown.css('top', dropDownTop + "px");

                if ((button.offset().left + dropdown.width()) > $(window).width())
                    dropdown.css('left', (button.offset().left + button.width() - dropdown.width()) + "px");
                else
                    dropdown.css('left', (button.offset().left) + "px");

                dropdown.css('position', "absolute");

                dropdown.css('width', dropdown.width());
                dropdown.css('heigt', dropdown.height());
                dropdown.css('display', 'block');
                dropdown.appendTo('body');
            }
        });
        //==================================================================================================================
        //..............END....................dropdown-menu-on-table-responsive............................................
        //==================================================================================================================
        $('.startDate').change(function () {
            $('.' + $(this).data('enddate')).attr('min', $(this).val());
        });
        $('.endDate').change(function () {
            $('.' + $(this).data('startdate')).attr('max', $(this).val());
        });

        {% for type,flash in app.session.flashbag.all %}
        {% for msg in flash %}
        viewAlert('{{ msg|raw }}', '{{ type }}');
        {% endfor %}
        {% endfor %}
    </script>
{% endblock %}
<!-- some script -->
{% block jquery %}{% endblock %}
</body>
</html>