<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{{ asset('assets/images/placeholder.jpg') }}"
                                                        class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ app.user.username }}</span>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">


                    <!-- Main -->
                    <li class="navigation-header"><span>{{ "Main"|trans }}</span> <i class="icon-menu"
                                                                                     title="Main pages"></i></li>
                    <li {% if app.request.get('_route') == 'home' %} class="active"{% endif %}><a
                                href="{{ path('home') }}"><i class="icon-home4"></i>
                            <span>{{ "Dashboard"|trans }}</span></a></li>
                    <li>
                        <a href="#"><i class="icon-wrench3"></i> <span>{{ "Administration"|trans }}</span></a>
                        <ul>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li {% if app.request.get('_route') == 'user_user_index' %} class="active"{% endif %}>
                                    <a
                                            href="{{ path('user_user_index') }}"><i
                                                class="icon-user"></i>{{ "User"|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tasks"></i> <span>{{ "Référentielle"|trans }}</span></a>
                        <ul>
                            <li {% if app.request.get('_route') == 'referentiel_gouvernorat_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('referentiel_gouvernorat_index') }}"><i
                                            class="icon-list"></i>{{ "Gouvernorat"|trans }}</a></li>
                            <li {% if app.request.get('_route') == 'referentiel_archive_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('referentiel_archive_index') }}"><i
                                            class="icon-list"></i>{{ "Archive"|trans }}</a></li>
                            <li {% if app.request.get('_route') == 'referentiel_modeservice_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('referentiel_modeservice_index') }}"><i
                                            class="icon-list"></i>{{ "Mode Service"|trans }}</a></li>
                            <li {% if app.request.get('_route') == 'referentiel_typeservice_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('referentiel_typeservice_index') }}"><i
                                            class="icon-list"></i>{{ "Type Service"|trans }}</a></li>
                            <li {% if app.request.get('_route') == 'referentiel_repos_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('referentiel_repos_index') }}"><i
                                            class="icon-list"></i>{{ "Repos"|trans }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-users4"></i> <span>{{ "Candidat"|trans }}</span></a>
                        <ul>
                            <li {% if app.request.get('_route') == 'ressourcehumaine_candidat_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('ressourcehumaine_candidat_index') }}"><i
                                            class="icon-list"></i>{{ "Liste"|trans }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-users4"></i> <span>{{ "Client"|trans }}</span></a>
                        <ul>
                            <li {% if app.request.get('_route') == 'ressourcehumaine_client_index' %} class="active"{% endif %}>
                                <a
                                        href="{{ path('ressourcehumaine_client_index') }}"><i
                                            class="icon-list"></i>{{ "Liste"|trans }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('git_pull') }}"><i class="icon-earth"></i> <span>{{ "Mise à jour Application"|trans }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->
