<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="{{asset('assets/images/logo_light.png')}}" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch hidden">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {% for locale in locales if locale.code == app.request.locale %}
                        <img src="{{asset('assets/images/flags/'~ locale.tag ~'.png')}}" class="position-left" alt="">
                        {{ locale.name }}
                        <span class="caret"></span>
                    {% endfor %}
                </a>

                <ul class="dropdown-menu">
                    {% for locale in locales if locale.code != app.request.locale %}
                        <li><a href="{{ path('change_locale', {'locale': locale.code}) }}" class="deutsch"><img src="{{asset('assets/images/flags/'~ locale.tag ~'.png')}}" alt=""> {{ locale.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{asset('assets/images/placeholder.jpg')}}" alt="">
                    <span>{{ app.user.username }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> {{ "Logout"|trans }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->

