{% extends "base.html.twig" %}

{% block title %}{{ "Traduction"|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <!-- 2 columns form -->
        <!-- 2 columns form -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ "Traduction"|trans }}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            <form method="post" id="form-traduction">
            <div class="panel-body">
                <div class="text-right">		
                    <button type="submit" class="btn btn-primary">{{ "Enregistrer"|trans }} <i
                                class="icon-arrow-left13 position-right"></i></button>
                </div>

                {% for key,trans in translations %}
                    <input type="hidden" value="{{ trans }}" id="transAR_{{ key }}" name="transAR[{{ key }}]">
                {% endfor %}

                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Traduction FR</th>
                        <th>Traduction AR</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,trans in translations %}
                        <tr>
                            <td>{{ key }}</td>
                            <td contenteditable0="true">
                                 <span style="position: absolute;color: white">{{ trans }}</span>
                                <input type="text" value="{{ trans }}" oninput="$('input#transAR_{{ key }}').val($(this).val());" class="form-control">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/extensions/select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/datatables_extension_buttons_print.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/datatables_api.js') }}"></script>
    <script>
	var table=$('.table').dataTable( {
            "paging": false
        } );
    $('#form-traduction').submit(function () {
        table.fnFilter('');
    });
    </script>
{% endblock %}