{% set mode = form.vars.value is not null ? "edit" : "add" %}
{{ form_start(form,{attr : { action : action } } ) }}
{% if mode == "edit" %}
    <input type="hidden" id="id" value="{{ form.vars.value.id }}">
{% endif %}
<div class="row">
    {{ form_input("col-md-4","Nom&Prénom"|trans,form.nomPrenom) }}
    {{ form_input("col-md-2","CIN"|trans,form.cin) }}
    {{ form_input("col-md-2","Date CIN"|trans,form.dateCin) }}
    {{ form_input("col-md-2","Tél"|trans,form.tel) }}
    {{ form_input("col-md-2","GSM"|trans,form.gsm) }}
    {{ form_input("col-md-2","Fax"|trans,form.fax) }}
    {{ form_input("col-md-3","Email"|trans,form.email) }}
    {{ form_input("col-md-2","Gouvernorat"|trans,form.gouvernorat) }}
    {{ form_input("col-md-4","Adresse"|trans,form.adresse) }}
    {{ form_input("col-md-1","Avis"|trans,form.avis) }}
    {{ form_input("col-md-8","Remarque"|trans,form.remarque,null,null,mode=="edit") }}
    {{ form_input("col-md-4","Pièce Joint"|trans,form.pieceJointFile) }}
    {{ form_widget(form.pieceJointRemove) }}
</div>
<hr>

<div class="text-right">
    <button type="submit" class="btn btn-primary"><i
                class="fa fa-{{ (mode == "edit" ? "edit" : "save") }}  position-left"></i> {{ (mode == "edit" ? "Modifier" : "Enregistrer")|trans }}
    </button>
</div>
{{ form_end(form) }}
{% if mode == "edit" %}
    <script>
        $("#modal-edit-client .select-search").select2();
        $("#modal-edit-client .select").select2({minimumResultsForSearch: Infinity});
        $("#modal-edit-client .input-file").each(function () {

            let img = "";
            if ($(this).attr("name") == "client[pieceJointFile]")
                img = "{{ vich_uploader_asset(form.vars.value, "pieceJointFile") }}";

            $(this).fileinput({
                browseLabel: language.parcourir,
                browseIcon: "<i class='icon-file-plus'></i>",
                uploadIcon: "<i class='icon-file-upload2'></i>",
                removeIcon: "<i class='icon-cross3'></i>",
                layoutTemplates: {
                    icon: "<i class='icon-file-check'></i>",
                    modal: modalTemplate
                },
                initialPreview: [
                    img
                ],
                initialPreviewAsData: true,
                overwriteInitial: true,
                previewZoomButtonClasses: previewZoomButtonClasses,
                previewZoomButtonIcons: previewZoomButtonIcons,
                fileActionSettings: fileActionSettings
            });
        })


    </script>
{% endif %}
