<tr id="{{ client.id }}">
    <td>
        <div class="checkbox"><label><input type="checkbox" value="{{ client.id }}" class="styled chk-item"></label></div>
    </td>
    <td>{{ client.nomPrenom }}</td>
    <td>{{ client.cin }}</td>
    <td>{{ client.tel }}</td>
    <td>{{ client.gsm }}</td>
    <td>{{ client.fax }}</td>
    <td>{{ client.email }}</td>
    <td>{{ client.gouvernorat }}</td>

    <td id="{{ client.id }}">
        <ul class="icons-list">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-menu9"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>{{ macro_bouttonModal(null,"modal-view-client",path("ressourcehumaine_client_view",{"id":client.id}),"icon-eye4","btn-view-client","Consulter") }}</li>
                    <li>{{ macro_bouttonModal(null,"modal-edit-client",path("ressourcehumaine_client_edit",{"id":client.id}),"icon-pencil","btn-edit-client","Modifier") }}</li>
                    <li>{{ macro_bouttonModal(client.id,null,path("ressourcehumaine_client_delete",{"id":client.id}),"icon-trash","btn-delete-client","Supprimer") }}</li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
