{% for client in clients %}
    {{ include("RessourceHumaine/Client/item.html.twig",{"client":client}) }}
{% else %}
    <tr id="zero-item-client">
        <td class="text-center" colspan="9">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}

<script>
    {% if app.request.xmlHttpRequest %}
        $(".chk-item").uniform();
    {% endif %}
    $("#show-page").toggle({{ clients|length > 0 ? "true" : "false" }});
</script>
