<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Nom&Prénom"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.nomPrenom }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "CIN"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.cin }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Date CIN"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.dateCin|date("d/m/Y") }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Tél"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.tel }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "GSM"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.gsm }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Fax"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.fax }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Email"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Gouvernorat"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.gouvernorat }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Adresse"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.adresse }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Avis"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.avis }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Remarque"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ client.remarque|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">{{ "Pièce Joint"|trans }}</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <img src="{{ vich_uploader_asset(client, "pieceJointFile")|default("https://via.placeholder.com/100x100?text="~client) }}" height="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

