{% extends "base.html.twig" %}

{% block title %}{{ "User"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/css/style-crud.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <style>
        div.icon-spinner3 {
            font-size: 100%
        }

        .m-t-25 {
            margin-top: 25px;
        }
    </style>
    <div id="message-alert"></div>
    <div id="modal-add" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Ajout d'un nouvel élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">
                    {{ include("User/form.html.twig",{action:path("user_user_new")}) }}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-edit" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Modifier élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ "Users"|trans }} (<span
                        id="count-item">{{ users.getTotalItemCount }}</span> {{ "éléments"|trans }})<a
                        class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <a href="#modal-add" data-toggle="modal" class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                            class="icon-plus-circle2 position-left"></i> {{ "Nouvel  Élément"|trans }}</a>
                <a data-toggle="collapse" data-target="#form-filtre"
                   class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                            class="icon-search4 position-left"></i> {{ "Recherche"|trans }}</a>
            </div>
        </div>

        <div class="panel panel-flat border-top-success collapse" id="form-filtre">
            <div class="panel-heading">
                <h6 class="panel-title">{{ "Formulaire de recherche"|trans }}</h6>
            </div>

            <div class="panel-body">
                {{ form_start(form_search) }}
                <div class="row">
                    {{ form_input("col-md-3","Nom Prénom"|trans,form_search.nom_prenom) }}
                    {{ form_input("col-md-2","Username"|trans,form_search.username) }}
                    {{ form_input("col-md-4","Email"|trans,form_search.email) }}
                    {{ form_checkbox("col-md-1 m-t-25","Activé"|trans,form_search.enabled) }}
                </div>
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><i
                                class="icon-search4  position-left"></i> {{ "Recherche"|trans }} </button>
                    <button type="submit" class="btn btn-default"
                            onclick="resetForm($(this).closest('form'));"><i
                                class="icon-filter4  position-left"></i> {{ "Réinitialiser"|trans }}  </button>
                </div>
                {{ form_end(form_search) }}
            </div>
        </div>


        <div class="table-responsive">
            <div style="display: inline-flex;float: right;    margin-right: 10px;">
                <span style="    margin-right: 10px;    margin-top: 7px;">{{ "Afficher"|trans }}</span>
                <select name="limit" class="select">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="9999999999">{{ "Tous"|trans }}</option>
                </select>
                <span style="margin-right: 20px;margin-left: 10px;margin-top: 7px;">{{ "éléments"|trans }}</span>
            </div>


            <table class="table table-striped" id="table-liste">
                <thead>
                <tr>
                    <th data-sort="nom_prenom">{{ "Nom Prénom"|trans }}</th>
                    <th data-sort="username">{{ "Username"|trans }}</th>
                    <th data-sort="email">{{ "Email"|trans }}</th>
                    <th data-sort="enabled">{{ "Activé"|trans }}</th>
                    <th data-sort="enabled">{{ "Administrateur"|trans }}</th>

                    <th class="action">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody id="table_div">
                {{ include("User/liste.html.twig",{"users":users}) }}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ include("Generale/knp_paginator/pagination_render.html.twig",{"items":users}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let entity = 'user';
        $("#user_roles .form-check-input").uniform({
            radioClass: 'choice'
        });
    </script>
    <script type="text/javascript" src="{{ asset("assets/js/jquery_crud.js") }}"></script>
{% endblock %}
