{% for user in users %}
    {{ include("User/item.html.twig",{"user":user}) }}
{% else %}
    <tr id="zero-item">
        <td class="text-center" colspan="5">{{ "Aucun enregistrement trouvé"|trans }}</td>
    </tr>
{% endfor %}
